@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

.form{
    padding: 1% 5%;
    background-color:#CDF2CA ;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
.form h1{
    font-family: 'Lora', serif;
}
.form-container{
    background-color: #F9F3DF;
    text-align: left;
    padding: 4%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.btn{
    background-color: #111;
    color: #F9F3DF;
    padding: 15px 20px;
    border: none;
    border-radius: 5%;
    font-family: 'Open Sans', sans-serif;
}
.btn a{
    text-decoration: none;
    color: #CDF2CA;
}
.btn:hover{
    background-color: #CDF2CA;
    color: #111;
    font-weight: bolder;
}
.btn:hover a{
    background-color: #CDF2CA;
    color: #111;
    font-weight: bolder;
}